.card-1 {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 4px;
  overflow: hidden;
  @include shadow('');
  transition: 0.9s ease;
  position: relative;

  &__frame {
    @include frame('rect', 66.66%);

    img {
      transition: 0.9s ease;
    }
  }

  &__name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 1.375;
    text-align: center;
    padding: 6px 10px;
    font-weight: 700;
    color: #555;
    flex-grow: 1;
    transition: 0.9s ease;
  }

  &__link {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }

  &:hover {
    @include shadow('md');
  }

  &:hover &__frame img {
    transform: scale(1.1);
  }

  &:hover &__name {
    color: $primary;
  }

  @include media-breakpoint-down(md) {
    &__name {
      font-size: 12px;
    }
  }
}

.map-styled {
  display: flex;
  flex-direction: column;
  width: 100vw;
  max-width: 100%;
  height: 100vh;

  &__header {
    display: flex;
    @include shadow('');
    position: relative;
    z-index: 200;
    background-color: #e6e6e6;
  }

  &__main {
    display: flex;
    flex-grow: 1;
  }

  &__aside {
    width: 300px;
    max-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
  }

  &__body {
    flex-grow: 1;
    position: relative;
    z-index: 1;

    #map {
      width: 100%;
      height: 100% !important;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__btn {
    display: block;
    padding: 8px 20px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #444;
    transition: 0.6s ease;
    background: 0;
    border: 0;

    &:hover {
      background-color: $danger;
      color: $white;
      border-color: darken($danger, 5%);
    }
  }

  @include media-breakpoint-down(lg) {
    &__aside {
      @include shadow('');
      padding-top: 40px;
      background-color: $white;
      transform: translateX(-150%);
      transition: 0.6s ease;
      position: fixed;
      z-index: 100;
      top: 0;
      left: 0;

      &.is-show {
        transform: translateX(0);
      }
    }
  }
}

.section-1 {
  padding: 24px 0;

  &__body {
    padding: 0 20px;
  }

  &__title {
    font-size: 16px;
    font-style: italic;
    font-weight: 700;
    color: #555;
    padding: 0 20px;
    margin-bottom: 12px;
  }
}

.measure-info {
  background-color: #eee;
  border-radius: 4px;
  padding: 16px;
  margin-top: 16px;
  display: none;

  &__guide {
    font-style: italic;
    font-size: 12px;
    color: #555;
    margin-bottom: 4px;
  }

  &__result {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 700;
    color: #555;
    align-items: center;
    margin-top: 8px;
  }
}

.theme-option {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  transition: 0.4s;
  color: #777;
  font-size: 14px;

  &:hover {
    background-color: rgba($primary, 0.2);
    color: $primary;
  }

  &.active {
    background-color: rgba($primary, 0.2);
    color: $primary;
    font-weight: 700;
  }

  img {
    width: 100px;
    height: 80px;
    object-fit: cover;
    object-position: 50% 50%;
    margin-right: 20px;
    border: 1px solid #ccc;
  }
}
